.App{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #51E1ED, #23C4ED);
    width: 100%;
    height: 100vh;
}

.circle1{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 166, 0, 0.468);
    position: absolute;
    top: 70%;
    left: 5%;
    border-radius: 50%;
    z-index: 1;
}

.circle2{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 166, 0, 0.427);
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 50%;
    z-index: 1;
}

.container{
    display: flex;
    height: 80%;
    width: 70%;
    background: #ffffff54;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    z-index: 3;
}

@media screen and (max-width: 800px){
    .container{
        display: flex;
        width: 90%;
        flex-direction: column;
    }
}